<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title>Banking System</title>
</head>

<body>
    {% block main-content %}

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-8">
                <section>
                    <h3 class="text-dark text-center mt-4">Customers Detail</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Acc. Bal</th>
                            </tr>
                        </thead>

                        <body>
                            {% for i in customers %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.avail_bal}}₹</td>
                            </tr>
                            {% endfor %}
                        </body>

                    </table>
                </section>
            </div>

            <div class="col-md-4 ml-0 mt-5" style="margin-bottom: 12px;">
                <table class="ml-5">
                    <tr>
                        <td class="text-dark text-center" colspan="2"> <h4> SEND MONEY </h4></td>
                    </tr>
                    <form method="post">
                        {% csrf_token %}
                        <tr>   
                                <div class="text-field">
                                    <td> <label>Email</label></td>
                                    <td> <input type="Email" name="semail" placeholder="Enter your Email"></td>
                                </div>
                        </tr>
                        <tr>
                                <div class="text-field">
                                    <td><label>Amount</label></td>
                                    <td><input type="text" name="amt" placeholder="Enter Amount"></td>
                                </div>
                        </tr>
                        <tr>
                            <td><label for="">Select Receiver:</label></td>
                            <td>
                                <select id="email" name="email">
                                    <option value="taseenansar@gmail.com" selected disabled>----Select Reciever----</option>
                                    {% for i in customers %}
                                    <option value="{{i.email}}">{{i.name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center ">
                                <input type="submit" name="submit" value="SEND" class="btn btn-success btn-outline-danger text-white">
                            </td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </div>
    
    {% endblock main-content %}
</body>

</html>